body {
    background: linear-gradient(90deg, rgba(221,220,245,1) 0%, rgba(105,186,169,0.6558998599439776) 31%, rgba(0,212,255,1) 100%)
}   

.card {
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: rgb(250, 248, 229);
}

.boton{
    border: 2px double rgb(0, 5, 62);
}

h2 {
    text-shadow: 2px 2px rgb(189, 189, 189);
}